$primary: #de5d5d;
$secondary: #ffffff;
$black-2: #262626;
$third: #000;
$fourth: #313131;
$fourth_text:#9d9d9d;

$adaptive-container:1199px;
$adaptive-laptop: 1024px;
$adaptive-lg:992px;
$adaptive-tablet: 768px;
$adaptive-slider2: 576px;
$adaptive-mobile: 440px;
$adaptive-mobileS: 320px;

$container-padding-x: 30px;

