$grid-columns: 12;
$container-width: 1170px;
$grid-gutter-width: 0;

.container{
  @include make-container
}
.row [class^="col-"] {
  padding-right: 15px; 
  padding-left: 15px;
  margin: 0;
  width: 6.25rem;
}
.row [class^="col-"]:last-child {
  padding-right: 0; 
  width: 5.313rem;
}
.row [class^="col-"]:first-child {
  padding-left: 0; 
  width: 5.313rem;
}
.row{
  margin-right:0;
  margin-left: 0;
}