.slick-dots{
    li{
        width: .6rem; 
        height: .6rem; 
        border: 1px solid $secondary ;
        border-radius: 50%;
        &.slick-active {
            background-color: $secondary ;
        }
        button{          
            &::before{ 
                content: '';
            }
        }  
    }
}