@font-face {
    font-family: 'Varela Round', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    font-family: 'MyriadPro-Bold';
    src: url('app/fonts');
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}
