@mixin set-height($max-width, $height) {
    @media (max-width: $max-width) {
      height: $height;
    }
  }
@mixin make-container() {
  width: $container-width;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}



