@mixin set-height($max-width, $height) {
    @media (max-width: $max-width) {
      height: $height;
    }
  }

@mixin make-container() {
  max-width: 1170px;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}