@font-face 
    font-family: 'Varela Round'
    src: url('../fonts/VarelaRound-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@keyframes buttons
    0%     
        transform: rotateX(0deg)
    25%
        transform: rotateX(60deg)
    50%
        transform: rotateX(0deg)
    75%
        transform: rotateX(-60deg)
    100%
        transform: rotateX(0deg)

$primary: #de5d5d
$secondary: #ffffff
$third: #000
$body-font: 'Varela Round', sans-serif    

*
    box-sizing: border-box  
    font-family: 'Varela Round', sans-serif
body
    
    .container-fluid
        .banner_slider          
            
            .slider1
                .slick-dots
                    top: 90% 
                    li
                        width: .5rem 
                        height: .5rem 
                        border: 1px solid $secondary 
                        border-radius: 50%
                        &.slick-active 
                            background-color: $secondary 
                        button          
                            &::before 
                                content: ''
                .slide  
                    min-height: max-content
                    background-color:$primary
                    background-image: url('../images/maket_images/iPhone.png')
                    background-repeat: no-repeat
                    background-position: 50% 50%
                    background-size: contain
                    .slide1_content                                              
                        .slide1_title                                                                                
                            color: $secondary  
                            
                        .slide1_button  
                            display: flex
                            justify-content: center                                                    
                            .slide1_btn1,
                            .slide1_btn2
                                display: flex
                                justify-content: space-around
                                background-color: transparent
                                border: 2px solid $secondary
                                color: $secondary
                                text-decoration: none                                
                                cursor: pointer                        
                                border-radius: 10px
                                height: 3rem    
                                transition: all 0.5s ease-in-out
                            .slide1_btn1:hover,
                            .slide1_btn2:hover                   
                                color: $primary
                                transform: scale(1.2)
                                background: $third
                                border-color: $primary
                                box-shadow: 0 5px  5px 2px $primary
                                
                            .slide1_btn1:hover>i,
                            .slide1_btn2:hover>i
                                transition-delay: .5s
                                animation: buttons 1s ease-in-out
                    
                        
