body{
    .container-fluid{ 
        padding: 0;       
            .banner{ 
                position: relative;
                padding: 0;            
                .slider_banner{                    
                    .slick-dots{
                        top: 90%;                        
                    }
                    .slider_incide{
                        height: 85vh;
                        background-color: $primary;
                        background-image: url("../images/maket_images/iPhone.png");  
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: 50% -15%;
                        background-position: fixed;
                        color: $secondary;                       
                        @include set-height($adaptive-laptop, 70vh);
                        @include set-height(900px, 60vh);
                        @include set-height(700px, 50vh);
                        @include set-height(600px, 40vh);
                        @include set-height(500px, 35vh);
                        @include set-height(400px, 30vh);
                        @include set-height(350px, 27vh);
                        h1{
                            font-family: 'Montserrat', sans-serif;
                            @media(min-width:$adaptive-container){
                                font-size: 90px;
                                font-weight: 400;
                            }
                            @media(min-width:$adaptive-tablet){
                                font-size: 60px;                                
                            }
                        }
                }
            }    
        }
    }
}