.content_fifth{
    .content_fifth_in{
        .text_fifth{
            h1{
                color:$primary;
            }
            p{
                color:$black-2;
            }
            @media(min-width:$adaptive-container){
                width: 31.25rem;
            }
        }
    }
    .fifth_images{
        .fifth_images_in{
            .img {
                position: relative;                  
                img {
                    height: 32.5rem;
                    width: 100%;
                    transition: transform 1s ease-in-out, z-index 0s linear .1s; 
                    @media(max-width:$adaptive-banner){
                        height: 31.25rem;
                    }
                    @media(max-width:$adaptive-lg){
                        height: 28.125rem;
                    }
                    @media(max-width:$adaptive-tablet){
                        height: 26.25rem;
                    }
                    @media(max-width:$adaptive-mobile){
                        height: 23.75rem;
                    }
                    @media(max-width:$adaptive-mobileS){
                        height: 21.875rem;
                    }
                }             
                .slider5-hover {
                    display: none;  
                    animation: fadeInOut 1s ease-in-out forwards;                
                    @media (max-width: $adaptive-container) {
                        display: flex;
                        height: 6.25rem;                                                      
                    }                    
                    .img-efect {
                        position: absolute;
                        top: 86%;
                        height: 14%;
                        background-color: $black-2;
                        transform: translateZ(1px); 
                        z-index: -1; 
                        @media (max-width: $adaptive-laptop){
                            z-index: 1;
                        }                                               
                        p {
                            color: $secondary;
                        }                  
                        span {
                            width: 20%;     
                            i {
                                padding-right: 0.313rem;
                                color: $primary;
                                cursor: pointer;
                            }
                            p{
                                color: $primary;
                            }
                        }
                    }
                }                    
                @media (min-width: $adaptive-laptop) {
                    &:hover {
                        .slider5-hover {
                            display: flex;
                        }                  
                        img {
                            transform: translateY(-13%);
                            z-index: 1; 
                        }                                                                  
                    }
                }
            }                                        
            .slick-dots {
                bottom: 10%;  
                @media(max-width:$adaptive-mobile){
                    bottom: 9%;
                }            
            }      
        }
    }        
}