footer{
    background-color: $footer;
    .footer{
        .row{
            .footer_right{
                .footer_email{
                    form{
                        .button{
                            input{
                                border-radius: 0.313rem;
                                background-color: transparent;
                                border: 0.125rem solid $footer-border;
                                width: 19.375rem;
                                @media(max-width:$adaptive-slider2){
                                    width: 16.875rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}