.content_fourth{
    background-color: $fourth;
    color: $secondary;
    height: 41.563rem; 
    overflow: hidden;
    @media(max-width:$adaptive-lg){
        height: 56.25rem;
    }
    .row{
        .content_fourth_in{
            @media(max-width:$adaptive-lg){
                height: 56.25rem;
            }               
            .content_fourth_left{
                height: 37.5rem; 
                @media(max-width: $adaptive-lg){
                height: 15.625rem;
                }
                p{
                    color:$fourth_text;
                }
                .slider_fourth_left_btm{                                             
                    .slider_fourth{   
                        border-top-right-radius: 1%;
                        border-top-left-radius: 1%;   
                        background-color: $secondary;                                                     
                        .contetn_fourth_text{
                            width: 100%;
                            img{
                                @media(max-width:$adaptive-lg){
                                    width: 5.625rem;
                                    height: 5.625rem;
                                }
                                
                            }
                            .text4{
                                h6{
                                    color:$primary;
                                    font-weight: 600;
                                }
                                p{
                                    color:$third;
                                }
                            }
                            .slider4{
                                width: 16.25rem;
                                @media(max-width:$adaptive-slider2){
                                    width: 12.5rem;
                                }
                                .slick-dots{
                                    top: 137%; 
                                    right: 76%;
                                    @media(max-width:$adaptive-container){
                                        right: 60%;
                                    }
                                    @media(max-width:$adaptive-lg){
                                        display: flex;                                            
                                        justify-content: center;
                                        right: 0;    
                                        top: 140%;                                        
                                    }
                                    @media(max-width:$adaptive-slider2){
                                        top: 130%;
                                    }
                                }
                                p{
                                    width: 96%;
                                }
                            }
                        }
                    }  
                    .slider_fourth_color{
                        background-color:$primary;
                        height: 2.688rem; 
                        border-bottom-left-radius: 3%; 
                        border-bottom-right-radius: 3%;                                                   
                    }        
                }          
            }
            img{                
                @media(max-width:$adaptive-lg){
                    height: 28.125rem;
                    width: 20.625rem;
                }
                @media(max-width:$adaptive-slider2){
                    height: 25rem;
                    width: 18.75rem;
                }
                @media(max-width:$adaptive-mobile){
                    height: 23.75rem;
                    width: 17.5rem;
                }
            }
        }
    }
}