header {
    position: absolute;   
    color: $secondary;
    z-index: 2;    
    .navbar{
        background-color: $primary;
        .container{
            a{
                color:$secondary;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
            }
            .collapse{
                ul{
                    li{
                        a{
                            color:$secondary;  
                            font-weight: normal;                         
                        }
                        &:hover{
                            border-top: 3px solid $secondary;
                        }
                    }
                }
            }
        }        
    }
}
.navbar-toggler-icon {
    color:$secondary;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    color:$secondary;
}