body{
    .content_third{
        background-color: $black-2;
        height: 610px; 
        color:$secondary;
        overflow: hidden;
        @media(max-width:$adaptive-slider2){
            height: 800px;
        }
        .row{
            .container{ 
                @media(max-width:$adaptive-slider2){                    
                    img{
                        height: 300px;
                        width: 200px;
                    }
                }
                .content_third_in{
                    height: 900px; 
                    @media(max-width:$adaptive-slider2) {
                        width: 290px;
                    }                  
                    }
                    .content_third_slider{
                        @media(max-width:$adaptive-slider2){
                            width: 290px;
                        }
                        ul {
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;                           
                            @media (min-width: $adaptive-slider2) {
                                justify-content: flex-start;                               
                            }
                        } 
                        img{
                            height: 400px;
                        }
                        .content_third_in_right{
                            .span{
                                img{
                                    height: 90px;
                                    padding-top: 8px;
                                    @media (max-width:$adaptive-slider2){
                                        width: 90px;
                                    }
                                }
                            }
                        }
                    }                  
                }
            }
        }
    .content_fourth{
        background-color: $fourth;
        color: $secondary;
        height: 665px; 
        overflow: hidden;
        .row{
            .content_fourth_in{
                .content_fourth_left{
                    height: 600px; 
                    p{
                        color:$fourth_text;
                    }
                    .slider_fourth_left_btm{                         
                        .slider_fourth{
                            background-color: $secondary;                            
                            span{
                                h7{
                                    color:$primary;
                                }
                                p{
                                    color:$third;
                                }
                            }
                        }  
                        .slider_fourth_color{
                            background-color:$primary;
                            height: 43px;                                                     
                        }        
                    }          
                }
            }
        }
    }
}        