body{
    .owerwiew-title{
        @media(max-width:$adaptive-slider2 ){
            width: 310px;
        }
    }
    .content_six{
        background-color:$primary;
        color:$secondary;
        .content_six_in{
            .content_six_text{
                q{
                    quotes: none;
                }
            }
        }
    }
    .content_seven{
        background-color: $seven;
        color: $seven-text;  
        .content_seven_in{
            .content_seven_wrapper{
                .img7-secondbl{
                    @media (max-width:$adaptive-mobile){
                        width: 290px;
                    }
                }
            }
        }      
    }
}        