.content_third{
    background-color: $black-2;
    height: 45.938rem; 
    color:$secondary;
    overflow: hidden;
    @media(max-width:$adaptive-slider2){
        height: 50rem;
    }
    .row{   
        .container{   
                .content_third_banner{                
                    img.third-banner{
                        max-width: 100%;
                    }
                    @media(max-width:$adaptive-slider2){                    
                        img{
                            height: 18.75rem;
                            width: 12.5rem;
                        }
                    }
                }
                .content_third_in{
                    height: 45.938rem;
                    @media(max-width:$adaptive-slider2) {
                        width: 18.125rem;
                    }                
                    .content_third_slider{
                        @media(max-width:$adaptive-slider2){
                            width: 18.125rem;
                        }
                        ul {
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;                           
                            @media (min-width: $adaptive-slider2) {
                                justify-content: flex-start;                               
                            }
                        } 
                        img{
                            height: 25rem;
                        }
                        .content_third_in_right{
                            .span{
                                img{                                    
                                    height: 5.625rem;
                                    padding-top: 0.5rem;
                                    @media (max-width:$adaptive-slider2){
                                        width: 5.625rem;
                                    }
                                }
                            }
                        }
                }  
            }
        }
    }
}    